*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: "Poppins", system-ui;
}
body{
   display: grid;
   height: 100%;
   place-items: center;
   background: #1abc9c;

}
.container{
   margin-top: 10%;
   background-color: #fff;
   width: 400px;
   border-radius: 5px;
   max-height: 400px;
}
.container .title{
  background: black; 
  height: 50px;
  padding-left: 70px;
  border-radius: 5px 5px 0 0;
  color: #fff;
  font-size: 25px;
  font-weight: 600;
  /* display: flex; */
  /* align-items: center; */
}
.container form{
   padding: 30px 20px 45px 20px;
}
.container form .row{
   /* background: #ff0000; */
   height: 50px;
   margin-bottom: 30px;
   position: relative;
}
.container form .row input{
    height: 100%; 
   width: 100%; 
   padding-left: 50px;
   border: 1px solid lightgrey;
   border-radius: 5px;
   outline: none;
   font-size: 16px;

}
.container form .row i{
   position: absolute;
   width: 47px;
   height: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   background: #1abc9c;
   font-size: 18px;
   color: #fff;
   border-radius: 5px 0 0 5px;
   border: 1px solid #16a085;
}
.container form .button input{
   padding-left: 0px;
   background: #16a085;
   border: 1px solid #16a085;
   color: #fff;
   font-weight: 500;
   font-size: 18px;
   margin-top: 30px;
}
.container form .pass a{
  text-decoration: none;
  color: #16a085;
}
.container form .pass a:hover{
   text-decoration: underline;
}
.container form .signup_link{
   text-align: center;
   margin-top: 10px;  
}
.container form .signup_link a{
   text-decoration: none;
   color: #16a085;
}

